@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400, 500;
    font-stretch: 100%;
    src: url(font.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --accent: #5294e2;
    --navbar-width: 180px;
    --btn-height: 34px;
    --label-btn-height: 30px;
    --spacing-1x: 6px;
    --spacing-2x: 12px;
    --spacing-4x: 24px;
    --main-bg: #efefef;
    --text: rgba(0, 0, 0, 0.87);
    --secondary-text: rgba(0, 0, 0, 0.55);
    --red: 255, 95, 95;
    --shadow-color: rgba(0, 0, 0, .3);
    --btn-bg: #fff;
    --btn-hover-bg: #e0e0e0;
    --btn-active-bg: #cfcfcf;
    --trash-can: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='24px' viewBox='4 4 24 24' version='1.1' style='fill:rgb(255, 95, 95);fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cpath d='M11,4.5l10,0c0.828,-0 1.5,-0.672 1.5,-1.5c-0,-0.828 -0.672,-1.5 -1.5,-1.5l-10,0c-0.828,-0 -1.5,0.672 -1.5,1.5c-0,0.828 0.672,1.5 1.5,1.5Z'%3E%3C/path%3E%3Cpath d='M5,9.5l0,16.5c0,2.761 2.239,5 5,5l12,0c2.761,0 5,-2.239 5,-5l0,-16.5l1.645,0c0.748,-0 1.355,-0.672 1.355,-1.5c-0,-0.828 -0.607,-1.5 -1.355,-1.5l-25.29,0c-0.748,-0 -1.355,0.672 -1.355,1.5c-0,0.828 0.607,1.5 1.355,1.5l1.645,0Zm7,3.5l0,12c-0,0.552 0.448,1 1,1c0.552,0 1,-0.448 1,-1l0,-12c-0,-0.552 -0.448,-1 -1,-1c-0.552,0 -1,0.448 -1,1Zm6,-0l0,12c0,0.552 0.448,1 1,1c0.552,-0 1,-0.448 1,-1l0,-12c0,-0.552 -0.448,-1 -1,-1c-0.552,-0 -1,0.448 -1,1Z'%3E%3C/path%3E%3C/svg%3E");
    --rotable-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='rotableArrow' viewBox='0 0 24 24'%3E%3Cpath style='fill:rgba(0, 0, 0, 0.87);' d='m11.35 14.25-2.575-2.6q-.45-.45-.213-1.013t.863-.562h5.15q.625 0 .863.562.237.563-.188 1.013l-2.6 2.6q-.15.125-.312.2-.163.075-.338.075t-.337-.075-.313-.2'%3E%3C/path%3E%3C/svg%3E");
}

:is(.popup, label) :is(button, input) {
    --btn-bg: rgba(0, 0, 0, 0.1);
    --btn-hover-bg: rgba(0, 0, 0, 0.2);
    --btn-active-bg: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg: #121212;
        --text: rgba(255, 255, 255, 0.87);
        --secondary-text: rgba(255, 255, 255, 0.55);
        --red: 255, 95, 95;
        --shadow-color: rgba(0, 0, 0, .7);
        --btn-bg: #252525;
        --btn-hover-bg: #353535;
        --btn-active-bg: #454545;
        --trash-can: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='24px' viewBox='4 4 24 24' version='1.1' style='fill:rgb(255, 95, 95);fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cpath d='M11,4.5l10,0c0.828,-0 1.5,-0.672 1.5,-1.5c-0,-0.828 -0.672,-1.5 -1.5,-1.5l-10,0c-0.828,-0 -1.5,0.672 -1.5,1.5c-0,0.828 0.672,1.5 1.5,1.5Z'%3E%3C/path%3E%3Cpath d='M5,9.5l0,16.5c0,2.761 2.239,5 5,5l12,0c2.761,0 5,-2.239 5,-5l0,-16.5l1.645,0c0.748,-0 1.355,-0.672 1.355,-1.5c-0,-0.828 -0.607,-1.5 -1.355,-1.5l-25.29,0c-0.748,-0 -1.355,0.672 -1.355,1.5c-0,0.828 0.607,1.5 1.355,1.5l1.645,0Zm7,3.5l0,12c-0,0.552 0.448,1 1,1c0.552,0 1,-0.448 1,-1l0,-12c-0,-0.552 -0.448,-1 -1,-1c-0.552,0 -1,0.448 -1,1Zm6,-0l0,12c0,0.552 0.448,1 1,1c0.552,-0 1,-0.448 1,-1l0,-12c0,-0.552 -0.448,-1 -1,-1c-0.552,-0 -1,0.448 -1,1Z'%3E%3C/path%3E%3C/svg%3E");
        --rotable-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='rotableArrow' viewBox='0 0 24 24'%3E%3Cpath style='fill:rgba(255, 255, 255, 0.87);' d='m11.35 14.25-2.575-2.6q-.45-.45-.213-1.013t.863-.562h5.15q.625 0 .863.562.237.563-.188 1.013l-2.6 2.6q-.15.125-.312.2-.163.075-.338.075t-.337-.075-.313-.2'%3E%3C/path%3E%3C/svg%3E");
    }

    :is(.popup, label) :is(button, input) {
        --btn-bg: rgba(255, 255, 255, 0.1);
        --btn-hover-bg: rgba(255, 255, 255, 0.2);
        --btn-active-bg: rgba(255, 255, 255, 0.3);
    }
}

::selection {
    background: var(--accent);
    color: white;
}

:focus-visible {
    outline: 2px solid var(--accent);
}

::placeholder {
    color: var(--secondary-text);
    opacity: 1;
}

[pip-api="false"] .pip-api,
.hidden {
    display: none !important;
}

span {
    align-content: center;
}

h4 {
    display: inline;
    font-weight: 500;
    font-size: 1em;
    margin-block: 0;
}

svg {
    display: block;
    margin: auto;
    fill: inherit;
}

body {
    position: relative;
    font-family: 'Roboto';
    background-color: var(--main-bg);
    color: var(--text);
    width: 600;
    min-width: 100%;
    min-height: 600px;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 0;
    box-sizing: border-box;
    padding: calc(var(--btn-height) + var(--spacing-2x)) var(--spacing-2x) var(--spacing-2x) 0px;
}

:root {
    scrollbar-gutter: stable;
}

:root, 
div,
.popup {
    scrollbar-width: thin;
    scrollbar-color: var(--btn-active-bg) transparent;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: var(--spacing-2x);
    box-sizing: border-box;
    background: var(--main-bg);
}

search {
    position: relative;
    width: calc(var(--navbar-width) - var(--spacing-2x));
}

#buttons {
    display: flex;
    gap: var(--spacing-2x);
}

.search {
    padding-left: calc(27px + var(--spacing-1x)) !important;
}

.searchIcon {
    position: absolute;
    left: var(--spacing-2x);
    top: 0px;
    cursor: text;
    fill: var(--secondary-text);
    width: 15px;
    height: 100%;
    pointer-events: none;
}

.clearSearch {
    position: absolute;
    left: 10px;
    top: 0px;
    cursor: pointer;
    transition: .15s;
    fill: var(--secondary-text);
    width: 20px;
    height: 100%;
}

.clearSearch:hover {
    opacity: .75;
}

main {
    padding-left: calc(var(--navbar-width) + var(--spacing-4x));
}

#navigation {
    position: fixed;
    width: var(--navbar-width);
    height: calc(100% - (var(--btn-height) + var(--spacing-2x)) - var(--spacing-4x) - var(--spacing-2x));
    overflow: auto;
    padding-top: var(--spacing-4x);
}

.expandable {
    transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.25s;
    overflow: hidden;
    visibility: hidden;
}

.expandable:not(.expanded) {
    height: 0 !important;
}

.expandable.expanded {
    visibility: visible;
    height: auto;
}

.tabHeading {
    display: block;
    min-height: var(--btn-height);
    height: auto;
    background: none;
    width: 100%;
    justify-content: initial;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tabHeading.selected {
    color: #fff;
    font-weight: 500;
    background: var(--accent) !important;
}

button,
.button {
    position: relative;
    gap: var(--spacing-1x);
    height: var(--btn-height);
    min-width: var(--btn-height);
    transition: background .15s;
    display: flex;
    background: var(--btn-bg);
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;
    fill: var(--text);
    box-sizing: border-box;
    color: inherit;
    text-align: initial;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    line-height: inherit;
    cursor: pointer;
    border-radius: 100px;
    padding: initial;
    text-decoration: none;
}

.button,
button:not(label> :nth-child(2), .removeSetting) {
    padding: var(--spacing-1x) var(--spacing-2x);
}

label :is(button, input) {
    height: var(--label-btn-height) !important;
    min-width: var(--label-btn-height);
}

.iconButton {
    border-radius: 50%;
}

button.filled {
    --btn-hover-bg: #3c87e2;
    --btn-active-bg: #2076e0;
    background-color: var(--accent) !important;
    color: #fff;
    fill: #fff !important;
    outline-offset: 2px !important;
}

button.tinted {
    --btn-hover-bg: rgb(var(--btn-bg), 0.15);
    --btn-active-bg: rgb(var(--btn-bg), 0.10);
    background-color: rgb(var(--btn-bg), 0.2);
    color: rgb(var(--btn-bg));
    outline-color: rgb(var(--btn-bg));
}

label > :nth-child(2),
.removeSetting {
    background-color: initial !important;
}

label > :nth-child(2) {
    outline: none !important;
}

:is(button:not(label > :nth-child(2), .removeSetting), .button, li):is(:hover, .focused):not(:focus-visible),
label:hover {
    background-color: var(--btn-hover-bg);
}

:is(button:not(label > :nth-child(2), .removeSetting), .button, label):active:not(:focus-visible),
label.open {
    background-color: var(--btn-active-bg);
}

label:has(:focus-visible:nth-child(2)) {
    outline-offset: -2px;
    border-radius: 12px;
    background-color: var(--btn-bg) !important;
    outline: 2px solid var(--accent);
}

input[type="text"]:not(:placeholder-shown)~.searchIcon,
input[type="text"]:placeholder-shown+.clearSearch {
    display: none;
}

section {
    background: var(--btn-bg);
    margin-top: 56px;
    border-radius: 12px;
    overflow: clip;
}

section:has(> label:first-child) {
    margin-top: var(--spacing-4x);
}

section>h4,
label>h4 {
    padding-left: var(--spacing-2x);
}

section>h4 {
    position: absolute;
    margin-top: -32px;
}

label>h4 {
    padding: initial;
}

label {
    min-height: calc(var(--label-btn-height) + var(--spacing-2x));
    padding: var(--spacing-1x) var(--spacing-2x);
    display: flex;
    gap: var(--spacing-1x);
    cursor: pointer;
    transition: background .15s;
    border-top: 1px solid var(--btn-hover-bg);
    user-select: none;
    box-sizing: border-box;
}

label[section="header"] {
    pointer-events: none;
    align-items: center;
}

[section="header"] + label,
section>label:is(:first-of-type, .tprBorder) {
    border-top: 1px solid transparent;
}

:is(button, a, input):focus-visible {
    outline-offset: -2px;
}

label>span {
    flex-grow: 1;
    margin-right: var(--spacing-1x);
    min-width: 0;
    overflow-wrap: break-word;
}

label> :is(input, button) {
    flex-shrink: 0;
}

.expandable label {
    padding-left: 36px;
}

.expandable .expandable:not([matcher]) label {
    padding-left: 71px !important;
}

.subLabel {
    display: block;
    font-size: .85rem;
    color: var(--secondary-text);
    margin: 0;
    margin-top: var(--spacing-1x);
}

[type="number"] {
    font-family: inherit;
    font-size: inherit;
    border: none;
    height: var(--btn-height);
    width: 32px;
    color: inherit;
    text-align: end;
    padding: 0;
    cursor: text;
    -moz-appearance: textfield;
}

[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.numInputBtn:before,
.numInputBtn:after {
    display: block;
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background: var(--text);
}

.minus {
    margin: 0 var(--spacing-1x);
}

.plus {
    margin: 0;
}

.plus::after {
    transform: rotate(90deg);
}

[type="checkbox"] {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    width: 37.5px;
    height: 24px !important;
    cursor: pointer;
    margin: calc((var(--label-btn-height) - 24px)/2) 0px;
    outline-offset: -2px;
    border-radius: 100px;
}

[type="checkbox"]:after {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 100px;
    clear: both;
    background: var(--btn-hover-bg);
    transition: background-color .15s;
}

[type="checkbox"]:checked:after {
    background: #42d6aa;
}

[type="checkbox"]:before {
    content: '';
    height: 18px;
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 9px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px 0 rgba(0, 0, 0, .2);
    animation: knob-left 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

[type="checkbox"]:checked:before {
    animation: knob-right 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes knob-left {
    0% {
        left: initial;
        right: 3px;
        width: 18px;
    } 50% {
        width: calc(100% - 6px);
    }
    100% {
        width: 18px;
    }
}

@keyframes knob-right {
    0% {
        width: 18px;
    } 
    50% {
        width: calc(100% - 6px);
    }
    100% {
        left: initial;
        right: 3px;
        width: 18px
    }
}

input[type="text"] {
    width: 100%;
    cursor: text;
}

input[type="text"]:invalid {
    color: rgb(var(--red));
}

.rotableArrow::after {
    content: "";
    background-image: var(--rotable-arrow);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transition: transform 0.15s ease-in-out;
}

.open .rotableArrow::after {
    transform: rotateZ(180deg);
}

button[placeholder]:is(:not([value]), [value=""])::before {
    content: attr(placeholder);
}

button[placeholder]::before {
    content: attr(value);
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button[placeholder]:is(:not([value]), [value=""]) + .removeSetting {
    display: none;
}

.removeSetting {
    transition: opacity .15s;
    fill: rgb(var(--red));
    background-image: var(--trash-can);
    background-repeat: no-repeat;
    background-position: center;
}

.removeSetting:hover {
    opacity: .75;
}

textarea {
    position: fixed;
    inset: 0;
    resize: none;
    white-space: pre;
    background: var(--btn-bg);
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: var(--spacing-2x);
    field-sizing: content;
    box-sizing: border-box;
    outline: none;
}

.textEditor {
    background: var(--btn-bg);
    padding: 0;
    width: 100%;
    height: 100%;
    right: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px !important;
    border: none;
    border-radius: 0;
    max-height: initial;
}

.noResults {
    position: fixed;
    font-size: 22px;
    text-align: center;
    align-content: center;
    inset: 0;
    z-index: -1;
    opacity: 0.38;
}

section:not(.hidden)~.noResults {
    display: none !important;
}